

<div class="col-md-2">
    <ul class="nav nav-pills nav-stacked" role="tablist">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Login", "Index", "Login")</li>
        <li> @Html.ActionLink("Register", "Index", "Register")</li>
    </ul>
</div>

