body {
background-image: url(../Images/background_golf.jpg);
background-repeat:no-repeat;
background-size: 2000px;
}

input,
select,
textarea {
    max-width: 280px;
}

.MainHeading{
    width: 220px; 
    height: 35px; 
    padding-top: 5px; 
    font-weight: bold; 
    font-style: italic; 
    font-size: 18px; 
    color:white; 
    background-color: darkgreen; 
    text-align: center; 
    margin-left: 10px;
}

.popupnotvisible {
    display: none;
    height: 250px;
    width: 300px;
}

 .popupvisible-Success {
    width:  300px;
    min-height: 50px;
    text-align: left;
    padding: 15px;
    border: 1px solid green;
    background-color :#dff895;
    border-radius: 5px;
    box-shadow: 6px 6px 10px grey;
    display: normal;
    
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -150px;

}

 .popupvisible-Danger {
    width:  300px;
    min-height: 50px;
    text-align: left;
    padding: 15px;
    border: 1px solid red;
    background-color: palegoldenrod;
    border-radius: 5px;
    box-shadow: 6px 6px 10px grey;
    display: normal;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -150px; 

}

.ScoreCard{

    text-align: right;
}

.tableHeader{
    text-align: center;
    color: navy;
}

.yellow-back {
    background-color: #f7de54;
}

.red-back {
    background-color: #f66868;
}

.CompHeading {
    color: darkgreen;
    font-weight: bold;
}

.ScoreDblBogey{
    border: 2px solid darkgray; 
    width: 40px; 
    text-align: center; 
    border-radius: 10px; 
    background-color: grey; 
    color: white;
}

.ScoreBogey{
    border: 2px solid darkgray;
    width: 40px; 
    text-align: center; 
    border-radius: 10px; 
    background-color: darkblue; 
    color: white;
}

.ScorePar{
    border: 2px solid darkgray; 
    width: 40px; 
    text-align: center; 
    border-radius: 10px; 
    background-color: palegreen; 
    color: black;
}

.ScoreBirdie{
    border: 2px solid darkgray; 
    width: 40px; 
    text-align: center; 
    border-radius: 10px; 
    background-color: orangered; 
    color: white;
}

.ScoreEagle{
    border: 2px solid darkgray; 
    width: 40px; 
    text-align: center; 
    border-radius: 10px; 
    background-color: yellow; 
    color: black;
}
